*{
    margin: 0;
    padding: 0;
}
#main{
    background: #000;
}
#loader{
    height: 100vh;
    background: #000;
    width: 100%;
    position: fixed;
  color: white;
  display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 99; */

    
}
#loader img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 6;
}
#loader h1{
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 9;
    letter-spacing: -3px;
   line-height: 80px;
}
#yellow1{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #F5e41b;
    z-index: 8;
}
#yellow2{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #F5e41b;
    z-index: 7;
}
#nav{
    position: absolute;
    z-index: 10;
    padding: 30px 50px;
}

#page1{
    height: 100vh;
    background: #F5e41b;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -3px;
    line-height: 80px;
}
#page2{
    height: 100vh;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.elem{
    width: 100%;
    background: red;
    position: relative;
}
.elem h2{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 500;
}
.elem .moving{
    background: #F5e41b;
    width: 100%;
    white-space: nowrap;
    padding: 10px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
    
   
}
.elem .moving .moving-in{
    display: inline-block;
     white-space: nowrap;
      animation: moving 6s infinite linear;
      /* position: absolute; */
   
 
     
}
.elem .moving .moving-in h5{
    color: black;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 30px;
    
}
@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}











#page3{
    height: 100vh;
    background: #fff;
}