*{
    margin: 0;
    padding: 0;
}
#main{
    background: #000;
}
#loader{
    height: 100vh;
    background: #000;
    width: 100%;
    position: fixed;
  color: white;
  display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 99; */
    display: none;

    
}
#loader img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 6;
}
#loader h1{
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 9;
    letter-spacing: -3px;
   line-height: 80px;
}
#yellow1{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #F5e41b;
    z-index: 8;
}
#yellow2{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #F5e41b;
    z-index: 7;
}
#nav{
    position: absolute;
    z-index: 10;
    padding: 30px 50px;
}

#page1{
    height: 100vh;
    background: #F5e41b;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -3px;
    line-height: 80px;
}
#page2{
    height: 100vh;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.elem{
    width: 100%;
    position: relative;
     cursor: pointer;
}
.elem .blur{
    position: absolute;
    width: 30%;
    background: #F5e41b;
   filter: blur(8px);
    z-index: 8;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
    height: 100%;
}
.elem h2{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    z-index: 9;
    
    /* transition: 0.3s; */
    
}
.elem .moving{
    background: #F5e41b;
    width: 100%;
    white-space: nowrap;
    padding: 10px 0;
  position: absolute;
  top: 50%;
transform: translate(0,-45%) scaleY(0);
  transition: 0.3s;
 
    
   
}
.elem .moving .moving-in{
    display: inline-block;
     white-space: nowrap;
      animation: moving 6s infinite linear;
      /* position: absolute; */
      
   
 
     
}
.elem .moving .moving-in h5{
    color: black;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 30px;
    transition: 0.5s;
    transition-delay: 0.2s;
    opacity: 0;
}
@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.elem:hover .moving{
   transform:  translate(0,-50%) scaleY(1);
}
.elem:hover .moving h5{
  opacity: 1;
}
.elem:hover h2{
    /* color: black; */
    font-style: italic;
    -webkit-text-stroke: 2px rgb(26, 255, 26);
    color: transparent;
}











#page3{
    height: 100vh;
    background: #fff;
}